{
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "endOfLine": "lf",
  "printWidth": 80,

  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,

  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^vitest$",
    "^react(-dom(/[A-z-\\.]*)?)?$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/",
    "",
    "^[.]",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderCaseSensitive": true,
  "importOrderTypeScriptVersion": "5.8.2"
}
